Suggest extending doh script to support TXT and arbitrary (TYPEnnnnn) QTYPEs 

Here's an idea ...

```
--- doh 2019-08-19 15:08:37.800000000 +0000
+++ mydoh       2019-08-19 16:54:17.208000000 +0000
@@ -10,13 +10,21 @@
         " --A       encode a type A request (default)\n",
         " --AAAA    encode a type AAAA request\n",
         " --CNAME   encode a type CNAME request\n",
-        " --NS      encode a type NS request\n";
+        " --NS      encode a type NS request\n",
+        " --TXT     encode a type TXT request\n",
+        " --TYPEnum encode a type <num> request (num in [1..65535])\n",
+       "\n",
+       "Notes:\n",
+       " 1. ESNI data may appear as TXT records using prefix '_esni.'\n",
+       "    or as TYPE65439 records using the host name without prefix.\n",
+       " 2. Not all DOH servers accept queries which specify TYPE65439\n";
     exit;
 }
 
 my %dnstype = (1 => "A",
                2 => "NS",
                5 => "CNAME",
+              16 => "TXT",
                28 => "AAAA");
 
 my $host;
@@ -42,6 +50,16 @@
         $type=5;
         shift @ARGV;
     }
+    elsif($ARGV[0] eq "--TXT") {
+       $type=16;
+       shift @ARGV;
+    }
+    elsif(($ARGV[0] =~ /^--TYPE([0-9]+)$/) &&
+         (int($1) > 0) &&
+         (int($1) < 2**16)) {
+       $type=int($1);
+       shift @ARGV;
+    }
     elsif(($ARGV[0] eq "--help") ||
           ($ARGV[0] eq "-h")) {
         help();
```



Seems totally fine to me! I would prefer `--type=<num>` though (with a `=` in there). Can you turn it into a pull-request?

I would prefer to use the text representation prescribed for an unknown RR type in section 5 of [RFC3597](https://tools.ietf.org/html/rfc3597). Use of this representation is supported in other RFCs, and even required (MUST) in [RFC4034](https://tools.ietf.org/html/rfc4034). I expect that using a tool-specific representation for unknown RR type will lead to confusion.

PR submitted. No need to keep this issue open, I guess.